body {
  background-color: #0075f8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  font-family: Arial, sans-serif;
  width: 400px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0 0 5px 5px;
}

.calendar th,
.calendar td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border: 0;
}

.calendar th {
  background-color: #82b1ff;
  color: #2962ff;
  font-size: 15px;
  padding: 8px;
}

.calendar td {
  background-color: #cce1fa;
  color: #0000FF;
  font-weight: bold;
}

.calendar td:hover {
  background-color: #97E7FF;
}

.calendar .today {
  background-color: #ffc;
}

.calendar .controls {
  background-color: #00a0ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 5px 5px 0 0;
  color: #00ff7f;
}

.current-month {
  font-weight: bold;
  font-size: 18px;
}

.buttons button {
  background: none;
  border: 0;
  outline: 0;
  color: red;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  line-height: normal;
  overflow: visible;
}

.calendar .prev-month,
.calendar .next-month  {
  color: #42a5f5;
}

.calendar .actual-day {
  background-color: #007adc;
  color: #f9f9f9;
  border-color: #000;
}

.calendar .actual-day:hover {
  background-color: #007adc;
  color: #f9f9f9;
}
